<%= div_for comment do %>
  <h3>
     <% if current_user %>
       <%= comment.name %> &lt;<%= comment.email %>&gt; said:
      <span class='actions'>
	  <%= link_to 'Approve', {:controller=>'comments', :action=>'approve', :id => comment.id} %>    
	  <%= link_to 'Delete',[@article, comment], :confirm => 'Are you sure', :method => :delete %>	 
	  </span>
  </h3>
	<%= comment.body %>
	<% end %>
  
     
<% end %>