<h1>Library</h1>
<%= form_tag articles_path, :method=>'get' do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search Articles", :name => nil %>
</p>
<% end %>

<div id="articles">
  <%= render @articles %>
</div>  

<br />
<% if current_user %>
  <%= link_to 'New Article', new_article_path %>
<%end%>
