<%= render @article %>
<h2>Comments</h2> 
<div id="comments">
  <%= render @article.comments %>
</div>

<div id="comments">
  <h2><span>Leave a</span> Comment</h2>
  <%= form_for([@article, @article.comments.new]) do |f| %>
    <ol>
      <li>
        <label for="name">Name (required)</label>
        <%= f.text_field :name %>
      </li>
      <li>
        <label for="email">Email Address (required)</label>
        <%= f.text_field :email %>
      </li>
      <li>
        <label for="company">Company</label>
        <%= f.text_field :company %>
      </li>
      <li>
        <label for="message">Your Message</label>
        <%= f.text_area :body %>
      </li>
      <li>
        <input type="image" name="imageField" id="imageField" src="/images/submit.gif" class="send"/>
        <div class="clr"></div>
      </li>
    </ol>
  <% end %>
</div>

<%= link_to 'Back', articles_path %> 

 

   