<%= render @article %>
<h2>Comments</h2> 
<div id="comments">
  <%= render @article.comments %>
</div>
 
<div id="comment_form" style="display:none">
<%= form_for([@article, @article.comments.new], :remote => true) do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
	<%= f.label :company%><br/>
	<%= f.text_field :company%><br/>
  </div>
  <div class="field">
    <%= f.label :body %><br/>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.submit 'Add '%>
  </div>
<% end %>
</div>
 
<a id="comment_form_link" href="#">Click me to make a comment</a>
<script>
	$(document).ready(function() {
		$('#comment_form_link').click(function(e) {
		  	e.preventDefault();
		  $('#comment_form').show();
		});
	});
</script>
<%= link_to "new comment", new_article_comment_path(@article, :format => :js), :remote => true, :id => 'new_comment_link' %>


   