<% @articles.each do |article| %>
<div class="article">   
	<% @articles.each do |article| %> 
  <h2><span><%= article.title %></span></h2>
  <p class="infopost">Posted <span class="date">on 11 sep 2018</span> by <a href="#">Admin</a> &nbsp;&nbsp;|&nbsp;&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a> <a href="#" class="com">Comments<span><%= article.comments.count%></span></a></p>
  <div class="clr"></div>
  <div class="img">
  <% if article.vlocation?%>  
  <% article.vlocation %>
    <iframe width="236" height="205" src="http://www.youtube.com/embed/<%= article.videntifier %>"frameborder="0" allowfullscreen></iframe />
    <p><%= article.vdescription %></p>
  <% else %>
     <%= image_tag('/images/img2.jpg', :width=>"236", :height=>"205") %>
  <% end %>  
</div>
  <div class="post_content">
	<% if article.introduction?%>
    <p><%= article.introduction %></p>
  <% end %>
  </div>
  <div class="clr"></div>
  <p class="spec"><%= link_to "Read more", article, :class=>"rm"%></p>
  <div class="clr"></div>
</div>
<% end %>
<p class="pages">
	<%= paginate @articles %>
</p>

<div class="article">
  <% @marketing.each do |article| %>
  <h2><span><%= article.title %></span></h2>
  <p class="infopost">Posted <span class="date">on 11 sep 2018</span> by <a href="#">Admin</a> &nbsp;&nbsp;|&nbsp;&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a> <a href="#" class="com">Comments<span><%= article.comments.count%></span></a></p>
  <div class="clr"></div>
  <div class="img">
  <% if article.vlocation?%>  
  <% article.vlocation %>
    <iframe width="236" height="205" src="http://www.youtube.com/embed/<%= article.videntifier %>"frameborder="0" allowfullscreen></iframe />
    <p><%= article.vdescription %></p>
  <% else %>
     <%= image_tag('/images/img2.jpg', :width=>"236", :height=>"205") %>
  <% end %>  
</div>
  <div class="post_content">
	<% if article.introduction?%>
    <p><%= article.introduction %></p>
    <% end %>
  </div>
  <div class="clr"></div>
  <div class="clr"></div>
<% end %>
</div>
<p class="pages">
	<%= paginate @marketing %>
</p>
<% end %>