<% @articles.each do |article| >
<div class="article">
<h2><span><%=article.title %></span></h2>
<p class="infopost">Posted <span class="date">on 11 sep 2018</span> by <a href="#">Admin</a> &nbsp;&nbsp;|&nbsp;&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a> <a href="#" class="com">Comments <span>11</span></a></p>
<div class="clr"></div>
<div class="img"><iframe width="236" height="205" src="http://www.youtube.com/embed/<%= article.videntifier %>"frameborder="0" allowfullscreen></iframe /></div>
<div class="post_content">
<p><%= article.body %></p>
</div>
<div class="clr"></div>
<p class="spec"><%= link_to "Read more", article, :class=>"rm"%></p>
<div class="clr"></div>
</div>
<% end %>

<%= paginate @articles %>
<p class="pages"><small>Page 1 of 2</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
