<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>John J McKelvie LLC</title> 
<div class="clr"></div>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag 'jquery-1.4.2.min'%>
<%= javascript_include_tag 'cufon-yui'%>
<%= javascript_include_tag 'droid_sans_400-droid_sans_700.font'%>
<%= javascript_include_tag 'script'%>
<%= javascript_include_tag 'coin-slider.min'%>
<%= javascript_include_tag '/nicEdit'%>
<script type="text/javascript">
	$(document).ready(function() {
		 nicEditors.allTextAreas();
	});
</script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
         <ul>
		  <li class="<%=is_active?("home") %>">
			<%= link_to('/home_path') do %>
			    <span>Home Page</span>
			<% end %>
		  </li>
		  <li class="<%=is_active?("services") %>">
			<%= link_to('services_path') do %>
				<span>Services</span>
			<% end %>
		  </li>
		  <li class="<%=is_active?("about") %>">
			<%= link_to('about_path') do %>
				<span>About Us</span>
			<% end %>
		  </li>
		  <li class="<%=is_active?("marketing") %>">
			<%= link_to('marketing_path') do %>
				<span>Marketing Tips</span>
			<% end %>
		  </li>
		  <li class="<%=is_active?("contact") %>">
			<%= link_to('contact_path') do %>
				<span>Contact Us</span>
			<% end %>
		  </li>
         </ul>
      </div>
      <div class="logo">
	     <h1><span>John J McKelvie, LLC </span></h1>
	     <h2><span>Innovative and cost-effective marketing communications</span></h2>	     
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider">
          <a href="#">
            <%= image_tag 'slide1.jpg', :width=>'960', :height=>'360' %>
            <span> Low-cost videos, shot in high definition (HD) and uploaded for free to YouTube are powerful marketing tools. In addition to YouTube views, these videos can be embedded on your website and on your social networking sites.</span>
          </a>
          <a href="#">
		    <%= image_tag 'slide2.jpg', :width=>'960', :height=>'360' %>
		    <span> Participation in a US or International trade exhibition is not an inexpensive marketing tool. But advance planning, careful preparation and a well targeted marketing effort will minimize costs and maximize your booth’s impact.</span>
		  </a>
		  <a href="#">
		    <%= image_tag 'slide3.jpg', :width=>'960', :height=>'360' %>
		    <span> Industry associations and magazines are always looking for interesting papers and articles. With professional writing help, even your busiest managers and engineers can be a source of papers and articles featuring your products.</span>
		  </a>
		</div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
		<%= content_tag :p, notice, :class => 'notice' if notice.present? %> 
		<%= content_tag :p, alert, :class => 'alert' if alert.present? %>
		<%= yield %>
	  </div>
	</div>
    <div class="sidebar">
      <div class="searchform">
	  	<%= form_tag articles_path, :id=>"formsearch", :name=>"Search by Title or Content:", :method=>'get' do %>
		<span>
			<%= text_field_tag :search, params[:search], :class=>"editbox_search", :id=>"editbox_search", :maxlength=>"80", :value=>"Search by Title or Content:", :onclick=>"this.value='';"%>
			<%= submit_tag "Button Search", :name=>"button_search", :src=>"images/search.gif", :class=>"button_search", :type=>"image"%>
		</span>
		<% end %>
  	  </div>
      <div class="clr"></div>
      <div class="gadget">
        <h2 class="star"><span>Sidebar</span> Menu</h2>
        <div class="clr"></div>
        <ul class="sb_menu">
		  <% if session[:user_id] %>
          	<li><a href="/logout">Logout</a></li>
		  <% else %>
			<li><a href="/login">Login</a></li>
		  <% end %>
          <li><a href="#">Facebook</a></li>
          <li><a href="/articles">Papers & Articles</a></li>
          <li><a href="#">Marketing Articles</a></li>
        </ul>
      </div>
      <div class="gadget">
        <h2 class="star"><span>LINKS</span></h2>
        <div class="clr"></div>
        <ul class="ex_menu">
          <li><a href="http://www.dreamtemplate.com/">DreamTemplate</a><br />
            Over 6,000+ Premium Web Templates</li>
          <li><a href="http://www.templatesold.com/">TemplateSOLD</a><br />
            Premium WordPress &amp; Joomla Themes</li>
          <li><a href="http://www.imhosted.com/">ImHosted.com</a><br />
            Affordable Web Hosting Provider</li>
          <li><a href="http://www.megastockphotos.com/">MegaStockPhotos</a><br />
            Unlimited Amazing Stock Photos</li>
          <li><a href="http://www.evrsoft.com/">Evrsoft</a><br />
            Website Builder Software &amp; Tools</li>
          <li><a href="http://www.csshub.com/">CSS Hub</a><br />
            Premium CSS Templates</li>
        </ul>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="fbg">
  <div class="fbg_resize">
    <div class="col c1">
      <h2><span>Image</span> Gallery</h2>
      <a href="#"><img src="images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
    </div> 
    <div class="col c2">
      <h2><span>Services</span> Overview</h2>
      <p>Curabitur sed urna id nunc pulvinar semper. Nunc sit amet tortor sit amet lacus sagittis posuere cursus vitae nunc.Etiam venenatis, turpis at eleifend porta, nisl nulla bibendum justo.</p>
      <ul class="fbg_ul">
        <li><a href="#">Lorem ipsum dolor labore et dolore.</a></li>
        <li><a href="#">Excepteur officia deserunt.</a></li>
        <li><a href="#">Integer tellus ipsum tempor sed.</a></li>
      </ul>
    </div>
    <div class="col c3">
      <h2><span>Contact</span> Us</h2>
      <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>
      <p class="contact_info"> <span>Address:</span> Las Vegas, Nevada, USA<br />
        <span>Phone:</span> +123-1234-5678<br />
        <span>FAX:</span> +458-4578<br />
        <span>Others:</span> +301 - 0125 - 01258<br />
        <span>E-mail:</span> <a href="#">jmckelvie@cox.net</a> </p>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
  </div>
</div>
</body>
</html>

 
